html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;

}

h1 {
  font-size: 4rem;

}

h1, h2 {
  color: #5d8432;

}

nav {
  font-weight: bold;
  font-size: 1.125rem;

}

figcaption {
  font-size: .75rem;
  font-style: italic;
  text-align: center;

}

img {
  width: 100%;

}

a:hover {
  background-color: #793284;

}

h1, h2, nav {
  font-family: "Patua One", cursive;

}

.hadro {
  font-size: 1rem;

}
